* {
	letter-spacing: 0;
}

.home-title h2[hidden],
.contact-area .data-download {
	display: none;
}

.solution-links a {
	vertical-align: top;
}

.news-component .tag {
	min-width: 44px;
    	text-align: center;
}

.contact-area .tel-contact span,
.contact-area .web-contact span,
.contact-area .data-download span,
.contact-area .extra-commerce span {
	letter-spacing: 0;
	font-size: 14px;
}

.contact-area .web-contact {
	margin-right: 250px;
}


.advantage-circle h4 {
	margin-top: 20px;
}

.link-item .fa {
	padding: 2px 6px 2px 8px;
}

.image-part {
	text-align: center;
}

.egg-function-area .egg-and-icon {
	padding: 4px 9px;
}

.egg-function-area .egg-function-item {
	width: 184px;
	padding: 53px 0;
}

.red-button, .blue-button, .light-button {
	min-width: 80px;
    	text-align: center;
}

.blue-button {
	padding: 4px 10px;
}

.section-title.detail h2:after {
	content: 'Details';
	padding: 4px 20px;
}

.section-title.full-line .tag {
	display: none;
}

.home-title h2 {
	display: none;
}

.products-button button {
	padding: 4px 30px;
}

.info-box figcaption {
	width: 70%;
}

#contact {
    min-height: calc(100vh - 661px);
}

@media (max-width: 768px) {
	.company-intro p {
		letter-spacing: 0;
	}

	.contact-area .web-contact {
		margin-right: 0;
	}

	.contact-area .tel-contact,
	.contact-area .web-contact, 
	.contact-area .data-download, 
	.contact-area .extra-commerce {
		margin: 5px 0;
	}

	.company-intro {
		margin-bottom: 10px;
	}

	.contact-area .extra-commerce {
		margin-top: 20px;
	}

	.slider-item {
		vertical-align: top;
	}

	.slider-text {
		height: 140px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	.news-component .date {
		margin-right: 0;
	}

	.mobile-anchor-item i {
		margin-right: 5px;
	}

	.info-box figcaption {
		width: 100%;
    		margin-top: 20px;
	}

	.type-table.combo-table th, .type-table.combo-table td {
		word-break: break-word;
	}

	.jprs figcaption {
		margin-top: 20px;
	}

}